@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --mainTextColor-Light: #000000;
  --secondaryTextColor-Light: #1b2741;
  --mainLinkColor-Light: #3a99d8;
  --mainBorderColor-Light: #e6d4ec;
  --mainBgColor-Light: #f5f4f4;
  
  --mainTextColor-Dark: #ffffff;
  --secondaryTextColor-Dark: #dbe1ec;
  --mainLinkColor-Dark: #3a99d8;
  --mainBorderColor-Dark: #2d2a33;
  --mainBgColor-Dark: #131415;
  
  --mainTextColor: var(--mainTextColor-Dark);
  --secondaryTextColor: var(--secondaryTextColor-Dark);
  --mainLinkColor: var(--mainLinkColor-Dark);
  --mainBorderColor: var(--mainBorderColor-Dark);
  --mainBgColor: var(--mainBgColor-Dark);
}

*{
  font-family: "Rubik";
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body{
  background-color: var(--mainBgColor);
}

p, span, li{
  color: var(--secondaryTextColor);
  font-size: 1em;
}

a{
  text-decoration: none;
  color: var(--mainTextColor);
  font-size: 1.04em;
  font-weight: 350;
}

a:hover{
  color: var(--mainLinkColor);
}

li{
  line-height: 1.9em;
}

#container--main{
  max-width: 1000px;
  margin: 0 auto;
}

.section--page{
  padding-top: 1em;
  padding-bottom: 1em;
}

#wrapper--hero{
  display: flex;
  align-items: center;
  gap: 4em;
}

#user-name{
  font-size: 3em;
  line-height: 1em;
}

#bio{
  font-weight: 340;
}

#profile-picture{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#email{
  color:var(--mainTextColor)
}

#socials--list{
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
}

#socials--list a{
  font-size: 0.9em;
  color: var(--secondaryTextColor);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#socials--list a:hover{
  color: var(--mainLinkColor);
}

#skills--list{
  list-style: none;
}